{% extends "index.html" %}
{% block title %}Home{% endblock %}
{% block content%}
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-6 mb-3">
      <h2 class="header">Your summary</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <select class="form-control mb-5" id="monthSelect" name="month">
        <option value="" disabled selected>Month</option>
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value="6">June</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
      </select>
      <div class="row mt-5">
        <div class="col-md-4">
          <p class="total">Total earned:</p>
        </div>
        <div class="col-md-2">
          <p class="amount" id="totalEarned">$0</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p class="total">Total spent:</p>
        </div>
        <div class="col-md-2">
          <p class="amount" id="totalSpent">$0</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p class="total">Budget left:</p>
        </div>
        <div class="col-md-2">
          <p class="amount" id="budgetLeft">$0</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <canvas id="categoryPieChart" width="400" height="400"></canvas>
    </div>
  </div>
</div>

<script>
  var categories_mapping = {
    "1": "Housing",
    "2": "Transportation",
    "3": "Food",
    "4": "Healthcare",
    "5": "Insurance",
    "6": "Debt payments",
    "7": "Entertainment",
    "8": "Personal care",
    "9": "Education",
    "10": "Investments",
    "11": "Other",
    "12": "Income"
  };
  document.getElementById("monthSelect").addEventListener("change", function() {
    var selectedMonth = this.value;
    fetch('/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ month: selectedMonth })
    })
    .then(response => response.json())
    .then(data => {
      document.getElementById("totalEarned").textContent = "$" + data.totalEarned.toFixed(2);
      document.getElementById("totalSpent").textContent = "$" + data.totalSpent.toFixed(2);
      document.getElementById("budgetLeft").textContent = "$" + (data.totalEarned - data.totalSpent).toFixed(2);

      const ctx = document.getElementById('categoryPieChart').getContext('2d');

      if (window.categoryPieChartInstance) {
        window.categoryPieChartInstance.destroy();
      }

      generatePieChart(ctx, data.categoryData);
    })
    .catch(error => console.error('Error:', error));
  });

  function generatePieChart(ctx, categoryData) {
    const categoryLabels = Object.keys(categoryData).map(categoryNumber => categories_mapping[categoryNumber]);
    console.log("Category Labels:", categoryLabels);

    window.categoryPieChartInstance = new Chart(ctx, {
      type: 'pie',
      data: {
        labels: categoryLabels,
        datasets: [{
          label: 'Expenses by category',
          data: Object.values(categoryData),
          backgroundColor: [
            '#66545e',
            '#a39193',
            '#aa6f73',
            '#eea990',
            '#f6e0b5',
            '#f9e1e0',
            '#feadb9',
            '#bc85a3',
            '#9799ba',
            '#4a7ba6',
            '#854442',
            '#be9b7b'
          ]
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            position: 'bottom',
          },
          title: {
            display: true,
            text: 'Expenses by category',
            font: {
              size: 18,
              family: 'Open Sans',
              weight: '200',
              color: '#012D18'
            }
          }
        }
      }
    });
  }

</script>
  
{% endblock %}
